include ./checkbox-item

div.row
    input(type='checkbox' name='all-agree' id='all-agree')
    label.checkbox(for='all-agree')
        span.checkbox.checkmark
        strong='전체동의'
+checkbox-item({
    name: '배달의민족 이용약관 동의',
    agreeRequired: true,
})
+checkbox-item({
    name: '전자금융거래 이용약관 동의',
    agreeRequired: true,
})
+checkbox-item({
    name: '개인정보 수집이용 동의',
    agreeRequired: true,
})
+checkbox-item({
    name: '개인정보 제3자 제공 동의',
})
+checkbox-item({
    name: '마케팅 정보 메일, SMS 수신 동의',
})