extends ../../layout

block head
  title= 'My 배민 - 회원가입 약관동의'
  link(rel='stylesheet', href='/stylesheets/signup/agree.css')
  script(src="/javascripts/signup/agree.js", type="module", defer="defer") 

block content
  include ./header
  h2
    | 어서오세요 <br/>
    | 약관동의가 필요해요
  form
    include ./checkbox-list      
    include ./radio-list
    a.next.disabled(href="/signup/phone")= '다음으로'