include ./radio-item

+radio-item({
    name: 'age-range',
    value: 'over-14',
    label: '만 14세 이상입니다.',
    checked: true,
    imgSrc: '/images/over.png'
})
+radio-item({
    name: 'age-range',
    value: 'under-14',
    label: '만 14세 미만입니다.',
    imgSrc: '/images/under.png'
})