extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  div.wrapper
    header
      a.back(href="/") 
        img(src='/images/cancel.svg' alt="cancel")
    form(action="/users/login" method="post") 
        input(type="text" name="id" placeholder="아이디 또는 이메일")
        input(type="password" name="password" placeholder="비밀번호")
        input(type="submit" value="로그인")
    div.signup
         p= '혹시, 배달의민족이 처음이신가요?'
         a.signup(href="/signup/agree")= '회원가입'