header {
    align-items: center;
    margin-bottom: 36px;
    padding-right: 36px;
}

header > img {
    width: 16px;
    height: 16px;
}

a.back {
    margin-right: auto;
    width: 16px;
    height: 16px;
}

h1.title {
    margin-right: auto;
    font-size: 20px;
}

h2 {
    margin-left: 20px;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

div.row {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 8px 0;
}

div.row:first-child, div.row:nth-child(6) {
    border-bottom: 1px solid var(--color-gray100);
    margin-bottom: 4px;
}

input[type='checkbox'] {
    display: none;
 }

input[type='checkbox']:checked {
    accent-color: var(--color-theme);
    border: none;
 }

span.checkbox{
    background-color: var(--color-gray100);
}


a.next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    height: 60px;
    background-color: var(--color-theme);
    color: white;
    border: none;
    margin: auto 20px 0;
 }


a.next.disabled {
    background-color: var(--color-gray100);
    pointer-events: none;
    cursor: default;
 }

label{
    margin-left: 8px;
    margin-right: auto;
}


img.arrow {
    height: 14px;
    margin-left: auto;
  }

div.radio-wrapper {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--color-gray100);
    margin: 8px 20px;
    border-radius: 8px;
    font-weight: 500;
}

input[type='radio'] {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left: 8px;
    border: 1px solid var(--color-gray100);
 }

 img.radio{
    height: 100%;
    width: auto;
 }


  span.checkbox.checkmark {
    width: 22px;
    height: 22px;
    background: none;
    background-color:  var(--color-gray500);
    border-radius: 4px;
    font-size: 18px;
    margin-right: 12px;
  }
  
  span.checkbox.checkmark:before {
    position: relative;
    left: 4px;
    top: 0px;
    color: var(--color-gray100);
    padding-right: 0 auto;
  }
  
  span.checkbox.checkmark.checked {
    background-color:  var(--color-theme);
  }

 label.checkbox{
    display: flex;
    align-items:center;
    margin-left: 0;
}

label p {
    margin: 8px 0;
}