extends ../layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')
  
block content
    include ./header
    img.full(src='/images/banner.png', alt="banner")
    include ./signin-anchor
    include ./menu-grid
    include ./menu-list